<h2>デザイン変更しました!</h2>

こんにちは、Perlクラブの村上です！

今回は、<a href="https://metacpan.org/pod/Giblog">Giblog</a>の機能を用いてサイトのデザインの変更を行いました。

<h3>index 自動生成</h3>

今回は主に、トップページの更新を行いました。

Giblog には、ブログサイトを作成するための機能として、 new_blog というものがあります。

この機能を使うと、ブログサイトのプロトタイプが生成されます。

<pre>
# ブログサイトのテンプレートを 'my_blog_site' という名前で作成
% giblog new_blog my_blog_site
% cd my_blog_site ; ls
README       giblog.conf  lib/         public/      serve.pl     templates/
# ウェブサイトの立ち上げ
% giblog serve
</pre>

サイトの見出しになるトップページ (index.html) 更新の度に自動でつくられるようになります。

記事をエントリーに追加する度に、自動で過去７日分のエントリーが一覧表示されるようになります。
(この機能を知らなくて、手動でつくっていました... 笑)

ビルド処理は、"lib/Giblog/Command/build.pm" に定義されており、用途に応じてカスタマイズして使うこともできます。

ブログサイトを簡単につくる上で便利な機能が集まっているかと思います！

みなさんもよければ試してみてください！

