<time datetime="2021-10-24">2021-10-24</time>

<h2>「Perl検定」の紹介！</h2>
こんにちは、元気スタッフの村上です！

今回は、Perlの知識を測定する目的で作られている「Perl検定」の紹介についてです。

「Perl検定」とはその名のとおり、Perlの言語仕様に関する知識(構文、文法など)を測定するための検定サイトです！

自分のPerlに関する知識レベルがどんなものであるかを知る尺度としてや、勉強した内容の復習なんかに活用できそうですね〜！

プログラミングの言語の勉強として、公式のリファレンス読んだり、それをわかりやすく解説してくれている記事や本を手にすることがあるかと思います。

そうしたときになんとなく理解できたつもりになるんですが、なかなか復讐するまでに至らないんですよねー。（私はw）

４択形式になっており、気軽に取り組めるのもよいですね！

いかに、いくつか問題を紹介させてもらいます！


<br>
=================
【問】ハッシュ変数を宣言しているものはどれでしょうか？
【選択肢】

<pre>
  my $foo
  my @bar
  my %baz
  my hoge
</pre>
【解答】3
【解説】
<a href="https://perlzemi.com/blog/20091226126425.html">「Perl基礎文法最速マスター」の「変数の宣言」</a> を確認してください。
ハッシュ変数は%で始めることで宣言できます。


<br>
【問】以下を実行すると何が表示されるでしょうか？
<pre>
  print int(1.52)
</pre>
【選択肢】
1
1.5
1.6
2
【解答】1
【解説】
<a href="https://perlzemi.com/blog/20080923122214.html">int関数 - 小数から整数部を取り出す</a>を確認してください。


<br>
【問】以下のプログラムを実行すると何が出力されますか？
<pre>
  my $num = 1;
  my $result = 0;
  
  if ($num > 0 && $num < 10) {
    $result = 100;
  } else {
    $result = 200;
  }
  
  print($result);
</pre>

【選択肢】
1. 0
2. 1
3. 100
4. 200
【解答】3
【解説】
<a href="https://perlzemi.com/blog/20161023147731.html">「if文による条件分岐」</a> を確認してください。
 数値の比較および、論理演算子がポイントになります。


<br>
【問】以下のプログラムを実行すると何が出力されますか？
<pre>
  @str = qw/今日 も 元気 だ Perl で 元気!/;
  print $str[$#str] . "\n";
</pre>

【選択肢】
1. "今日"
2. ""
3. "今日 も 元気 だ Perl で 元気!"
4. "元気！"
【解答】4
【解説】'#$' は配列の最後の要素のインデクスを示す。
<br>
  

<br>
【問】以下のプログラムを実行すると何が出力されますか？
<pre>
  @str = qw/今日 も 元気 だ Perl で 元気!/;
  $out .= shift @str;
  $out .= pop @str;
  print $out . "\n";
</pre>
【選択肢】
1. 今日元気！
2. 今日も
3. 元気で
4. 元気！今日
【解答】1
【解説】shift は配列の最後の要素を取り出す。pop は配列の最初の要素を取り出す。

=================
<br>

いかがでしたでしょうか！

ソースコードをみて、頭の中で動作を想像するときになって初めて「あれ？これってどうだっけ。。。」ってなることがあるんじゃないかなーと思います。

皆さんのPerl習得の助けになれば幸いです！
