<h2>正規表現モジュールのテスト</h2>

どうも、Perlクラブの村上です!

すっかり涼しくなりましたね &#x1f330;

今月は <a href="https://metacpan.org/pod/SPVM">SPVM</a> でかかれた正規表現モジュールのテストを行いました!

前回からの続きで、木本さんが手掛けている<a href="https://metacpan.org/pod/SPVM::Regex">正規表現モジュール(SPVM::Regex)</a> の実装をテストしていきました。

正規業限 `\b` のテストを行いました! 単語の先頭、末尾にマッチするやつですね。

個人的にこの手の位置関係に関する正規表現をこれまで使ってこなかったのでよい勉強になりました!  (^, $ あたりはよく使うんですけどね。。。)

SPVM のユニットテストモジュールや、Makefile を使ってのテスト体系があって非常に作業がしやすかったですね!

正規表現は普段よく目にするものしか頭に残っていないのでこれを機にしっかり網羅していきたいです〜！&#x270d; &#x270d; &#x270d;

