<h2>SPVMでFizzBuzzしてみました!!!</h2>

どうも、Perlクラブの村上です!

夏真っ盛りですね &#x1f3d6;

今月は <a href="https://metacpan.org/pod/SPVM">SPVM</a> の理解を助けるために実際に手を動かして、簡単なコード書いてみました。

"FizzBuzz"というテキスト処理やシェル芸なんかでよくみる問題に挑戦しました！

問題の内容は、「１から１００までの整数のうち、３の倍数を"Fizz"、５の倍数を"Buzz"で、１５の倍数の時は"FizzBuzz"に置換していく」というものです。

SPVMはPerlの文法がわかれば記述も容易で、Perlから呼び出して使うことが可能です。

一番シンプルな、if文３つでそれぞれ条件分岐させるやり方で難なく解けました!!

モジュール化には <a href="https://metacpan.org/dist/SPVM/view/script/spvmdist">spvmdist</a> が便利です。

興味がある方には <a href="https://github.com/ryun0suke22/mySpvm/tree/master/egs/fizz_buzz">記述したコード</a> を公開していますので参考にされてください!

ではでは〜 &#x1f30a;

