<h2>正規表現モジュールのコードリーディング</h2>

どうも、Perlクラブの村上です!

夏休みおわっちゃいましたね &#x1f390;

今月は <a href="https://metacpan.org/pod/SPVM">SPVM</a> のコードリーディングを行いました!

木本さんが手掛けている<a href="https://metacpan.org/pod/SPVM::Regex">正規表現モジュール(SPVM::Regex)</a> のSPVMコードを読んでいきました!!

正規表現の実装を見るのははじめてて、なかなか複雑なロジックがSPVM、C++を使って書かれておりました。

前方一致、正規表現のコンパイル、置換などの処理をみていきました。

これは非常によい勉強になりました! &#x1f58a;

Perlの正規表現は、非常に協力でよくテキスト処理などをするときにお世話になっております。

文字クラスなどが豊富でシンプルに記述ができるのもよいところです。

次回はコードを実際に書き換えたりしていきたいと思います!!!! &#x1f4aa;&#x1f4aa;&#x1f4aa;

