<h2>Perl モジュールを公開する前準備</h2>

お久しぶりです、Perlクラブの村上です！ 

ゴールデンウィークが明け、五月病も抜けてきた今日この頃です &#x1f375;

今月は CPAN に Perl モジュールを登録する準備を進めていきました!

<a href="https://www.cpan.org">CPAN</a> は、有志の方々が作ったPerl の自作モジュールなんかを登録・公開するサーバーのことですね。

日々、無料で使わせていただいており、大感謝です &#x1f647; &#x1f647;

今回準備をしたといっても、アカウントを作成しただけです &#128526;

でも大きな一歩です!

やり方を簡単にまとめると、

<ol>
  <li><a href="https://pause.perl.org/pause/query">PAUSE</a> にアクセスする</li>
  <li>"Request PAUSE account" からアカウント登録申請を送る</li>
  <li>管理者から承認されるのを待つ</li>
</ol>

のような感じでした!

申請理由を英語で書く欄があって、そこが手間取りました。

「知人の開発を手伝ってモジュールを登録するため」という内容で短く書いて送ったら次の日には承認されておりました!

皆さんも、CPAN につくったモジュールを公開することを考えてみてもよいかと思います!!

